
#savePlateButton
{
-fx-font-size: 14;
}

.button
{
-fx-background-color: #1a1e22;
-fx-text-fill: #c4c4c4;
}

.button:hover
{
-fx-background-color : #262c32;
}

.button:pressed
{
-fx-background-color : #1a1e22;
}

.menuButton
{
-fx-background-color: #1a1e22;
-fx-font-size: 20;
-fx-font-family: Swis721 Hv BT;
-fx-font-weight: 700;
}

.menuButton:hover
{
-fx-background-color: #14161a;
}

.menuButton:pressed
{
-fx-background-color: #14161a;
}

#generatePlateButton
{
-fx-background-color: #1a1e22;
-fx-font-size: 20;
-fx-font-family: Swis721 Hv BT;
-fx-font-weight: 700;
-fx-background-radius: 15;
}

#generatePlateButton:hover
{
-fx-background-color: #262c32;
}

.scroll-pane {
    -fx-background-color: #1a1e22;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #262c32;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}